<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="datasource" ref="dataSource" />

</bean>

<tx:annotation-driven transaction-manager="txManager"/>
    

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

    <!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->
    <!--<bean id="workDAO" class="org.lamop.riche.dao.DAOWorkImpl"/>-->


    <!--<bean id="myEmf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="someDataSource"/>
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
    </bean>-->
    
    
<!--    <context:annotation-config/>
    
    <bean id="emf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="myPersistenceUnit"/>
    </bean>-->
   
   
    <bean id="daoWork" class="org.lamop.riche.dao.DAOWorkImpl">
        <property name="emf" ref="emf" />
       
    </bean>

    <bean id="daoPerson" class ="org.lamop.riche.dao.DAOPersonImpl">
        <property name="emf" ref="emf" />
    </bean>
    
    <bean id="daoTheme" class="org.lamop.riche.dao.DAOThemeImpl">
        <property name="emf" ref="emf" />
    </bean>
    
    <bean id="daoOrigine" class="org.lamop.riche.dao.DAOOrigineImpl">
        <property name="emf" ref="emf" />
    </bean>
    
    <bean id="daoSource" class="org.lamop.riche.dao.DAOSourceImpl">
        <property name="emf" ref="emf" />
    </bean>
   
   
   
    <!--Definition des services-->
   
    <bean id="serviceWork" class="org.lamop.riche.services.WorkServiceImpl">
        <property name="dao" ref="daoWork" />
        <property name="daoPerson" ref="daoPerson" />
        <property name="daoSource" ref="daoSource" />
       
    </bean>
    <bean id="servicePerson" class="org.lamop.riche.services.AuthorServiceImpl">
        <property name="dao" ref="daoPerson" />
    </bean>
    
    <bean id="serviceTheme" class="org.lamop.riche.services.ThemeServiceImpl">
        <property name="dao" ref="daoTheme" />
        
    </bean>
    
    <bean id="serviceOrigine" class="org.lamop.riche.services.OrigineServiceImpl">
        <property name="dao" ref="daoOrigine" />
    </bean>
    
    <bean id="serviceSource" class="org.lamop.riche.services.SourceServiceImpl">
        <property name="dao" ref="daoSource" />
        
    </bean>
</beans>