<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    

  

<!-- SessionFactory, DataSource, etc. omitted -->


<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/riche"/>
        <property name="username" value="root"/>
        <property name="password" value="Sidll4LP"/>
    </bean>

    <!--<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">-->
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="myDataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>org.lamop.riche.model.Source</value>
                <value>org.lamop.riche.model.WorkEntity</value>
                <value>org.lamop.riche.model.BibliographicType</value>
                <value>org.lamop.riche.model.BibliograficAuthor</value>
                <value>org.lamop.riche.model.Person</value>
                <value>org.lamop.riche.model.RelationWorkSource</value>
                <value>org.lamop.riche.model.SecondaryName</value>
                <value>org.lamop.riche.model.AuthorityNotice</value>
                <value>org.lamop.riche.model.Theme</value>
                <value>org.lamop.riche.model.AuthorityOrganism</value>
                <value>org.lamop.riche.model.RelationSourcePerson</value>
                 <value>org.lamop.riche.model.WorkAuthor</value>
            </list>
        </property>
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        
    </bean>
    

    <bean id="transactionManager"
            class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="mySessionFactory"/>
    </bean>

    <tx:annotation-driven/>
    
    

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

    <!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->
    <!--<bean id="workDAO" class="org.lamop.riche.dao.DAOWorkImpl"/>-->


    <!--<bean id="myEmf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="someDataSource"/>
        <property name="loadTimeWeaver">
            <bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
        </property>
    </bean>-->
    
    
    <!--    <context:annotation-config/>
    -->
        <bean id="emf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="myPersistenceUnit"/>
    </bean>
   
   
    <bean id="daoWork" class="org.lamop.riche.dao.DAOWorkImpl">
        <!--<property name="emf" ref="emf" />-->
        <property name="sessionFactory" ref="mySessionFactory" />
       
    </bean>

    <bean id="daoPerson" class ="org.lamop.riche.dao.DAOPersonImpl">
        <!--<property name="emf" ref="emf" />-->
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
    
    <bean id="daoTheme" class="org.lamop.riche.dao.DAOThemeImpl">
        <!--<property name="emf" ref="emf" />-->
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
    
    
    <bean id="daoSource" class="org.lamop.riche.dao.DAOSourceImpl">
        <!--<property name="emf" ref="emf" />-->
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
   
    <bean id="daoRelationWorkSource" class="org.lamop.riche.dao.DAORelationWorkSourceImpl">
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
    
    <bean id="daoBibliographicType" class="org.lamop.riche.dao.DAOBibliographicTypeImpl">
         <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
    
    <bean id="daoRelationSourcePerson" class="org.lamop.riche.dao.DAORelationSourcePersonImpl">
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
    
    <bean id="daoWorkAuthor" class="org.lamop.riche.dao.DAOWorkAuthorImpl">
        <property name="sessionFactory" ref="mySessionFactory" />
    </bean>
   
   
    <!--Definition des services-->
   
    <bean id="serviceWork" class="org.lamop.riche.services.WorkServiceImpl">
        <property name="dao" ref="daoWork" />
        <property name="daoPerson" ref="daoPerson" />
        <property name="daoSource" ref="daoSource" />
        <property name="daoRelationWorkSource" ref="daoRelationWorkSource" />
       
       
    </bean>
    
    
    
    <bean id="servicePerson" class="org.lamop.riche.services.AuthorServiceImpl">
        <property name="dao" ref="daoPerson" />
        <property name="daoSource" ref="daoSource" />
       
    </bean>
    
    <bean id="serviceTheme" class="org.lamop.riche.services.ThemeServiceImpl">
        <property name="dao" ref="daoTheme" />
        
    </bean>
    
    
    <bean id="serviceSource" class="org.lamop.riche.services.SourceServiceImpl">
        <property name="dao" ref="daoSource" />
        <property name="daoRelationWorkSource" ref="daoRelationWorkSource" />
        <property name="daoWork" ref="daoWork" />
        <property name="daoPerson" ref="daoPerson" />
        <property name="daoRelationSourcePerson" ref="daoRelationSourcePerson" />
    </bean>
    
    <bean id="serviceWorkAuthor" class="org.lamop.riche.services.WorkAuthorServiceImpl">
        <property name="dao" ref="daoWorkAuthor" />
    </bean>
    
    <bean id="importService" class="org.lamop.riche.services.ImportServiceImpl">
        <property name="serviceSource" ref="serviceSource" />
        <property name="serviceBibliographicType" ref="serviceBibliographicType"/>
        <property name="servicePerson" ref="servicePerson" />
        <property name="themeService" ref="serviceTheme" />
        <property name="serviceWorkAuthor" ref="serviceWorkAuthor" />
        <property name="workService" ref="serviceWork" />
        <property name="daoRelationWorkSource" ref="daoRelationWorkSource" />
    </bean>
    
    
    
    <bean id="serviceBibliographicType" class="org.lamop.riche.services.BibliographicTypeServiceImpl">
        <property name="dao"  ref="daoBibliographicType"/>
        
    </bean>
</beans>